<h1>確認画面</h1>

<p>診察種別: <%= @appointment.examination_type_i18n %></p>
<p>相談タイトル: <%= @appointment.counseling_title %></p>
<p>相談内容: <%= @appointment.counseling_detail %></p>



<%= form_with model: @appointment, local: true do |f| %>
  <%= f.hidden_field :examination_type %>
  <%= f.hidden_field :counseling_title %>
  <%= f.hidden_field :counseling_detail %>
  <%= f.hidden_field :examination_status %>
  
  <%= f.fields_for :appointment_frame, @appointment.build_appointment_frame do |f| %>
    <%= f.hidden_field :day %>
    <%= f.hidden_field :time %>
    <%= f.hidden_field :start_time %>
  <% end %>
  
  <%= f.submit "送信" %>
  <%= f.submit "戻る", name: :back %>
<% end %>