<h1>予約詳細</h1>

<h2><%= @appointment.appointment_frame.start_time %>〜</h2>

<h3>患者名：<%= @appointment.patient.last_name %> <%= @appointment.patient.first_name %></h3>

<h3>診察種別：<%= @appointment.examination_type_i18n %></h3>

<h3>相談タイトル：<%= @appointment.counseling_title %></h3>

<h3>相談内容</h3>

<p><%= @appointment.counseling_detail %></p>

<h3>診察ステータス：<%= @appointment.examination_status_i18n %></h3>

  <%= form_with model: @appointment, url: admin_appointment_path, method: :patch, local: true do |f| %>
    <%= f.select :examination_status, Appointment.examination_statuses.keys, class: "examination_status" %>
    <%= f.submit '更新', class:"btn btn-sm btn-success" %>
  <% end %>

<div>
<p>コメント件数：<%= @appointment.doctor_comments.count %></p>
<% @appointment.doctor_comments.each do |doctor_comment| %>
  <%= doctor_comment.admin.name %>
  <%= doctor_comment.created_at.strftime('%Y/%m/%d') %>
  <%= doctor_comment.comment %>
  <% if doctor_comment.admin == current_admin %>
  <div>
    <%= link_to "削除", admin_appointment_doctor_comment_path(doctor_comment.appointment, doctor_comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>

<div>
<%= form_with(model:[@appointment, @doctor_comment], url: admin_appointment_doctor_comments_path(@appointment), local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>