<!DOCTYPE html>
<html>
  <head>
    <title>FamilyObgynClinic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks="false">
    
    <% if patient_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_patient_session_path, method: :delete %>
      </li>
      
    <% elsif admin_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
    
    <% elsif %>
      <li>
        <%= link_to "新規登録", new_patient_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_patient_session_path %>
      </li>
    <% end %>

    <%= yield %>

  </body>
</html>
